<div class="wrapper">
        <main id="app">
            <section class="parents-kids">
                <div class="profile-row">
                    <div class="column">
                        <img src="/images/Parents-Button.svg" id="profile-icon">
                        <div class="parents-text">
                            <h3>Parents</h3>
                        </div>
                    </div>
                    <div class="column">
                        <img src="/images/Kids-Button.svg" id="profile-icon">
                        <div class="kids-text">
                            <h3>Kids</h3>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>